# DEMO1

In [3]:
import os
os.environ['KERAS_BACKEND'] = 'tensorflow'  # 必须在导入keras前设置
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
import tensorflow as tf
from tensorflow import keras
from keras import Model
from keras.layers import Input, Dense, Dropout, LSTM

In [1]:
import yfinance as yf
import pandas as pd

# 选择黄金资产（你可以改成 "XAUUSD=X" 获取现货黄金）
ticker = "GLD"

# 设置时间范围
start_date = "2013-01-01"
end_date = "2022-12-31"

# 从yfinance获取数据
data = yf.download(ticker, start=start_date, end=end_date)

# 打印前几行，确认数据结构
print(data.head())

# 保存为CSV
output_file = f"{ticker}_gold_prices_2013_2022.csv"
data.to_csv(output_file, encoding="utf-8-sig")

print(f"数据已保存为: {output_file}")

C:\Users\user\AppData\Local\Temp\ipykernel_22408\1734883215.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             GLD         GLD         GLD         GLD       GLD
Date
2013-01-02  163.169998  164.139999  163.139999  163.490005  10431800
2013-01-03  161.199997  162.880005  160.830002  162.479996  16117500
2013-01-04  160.440002  160.630005  158.889999  159.520004  19179800
2013-01-07  159.429993  159.960007  159.149994  159.360001   9361800
2013-01-08  160.559998  160.990005  160.009995  160.460007   7694800
数据已保存为: GLD_gold_prices_2013_2022.csv

In [5]:
df = pd.read_csv('GLD_gold_prices_2013_2022.csv')

In [6]:
df

,Price,Close,High,Low,Open,Volume
0,Ticker,GLD,GLD,GLD,GLD,GLD
1,Date,NaN,NaN,NaN,NaN,NaN
2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406,10431800
3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906,16117500
4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094,19179800
...,...,...,...,...,...,...
2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125,2912300
2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844,6885700
2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578,3662500
2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328,3345900
2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594,2864500

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   2520 non-null   object
 1   Close   2519 non-null   object
 2   High    2519 non-null   object
 3   Low     2519 non-null   object
 4   Open    2519 non-null   object
 5   Volume  2519 non-null   object
dtypes: object(6)
memory usage: 118.3+ KB

In [8]:
df.drop(['Volume'],axis=1,inplace=True)
df

,Price,Close,High,Low,Open
0,Ticker,GLD,GLD,GLD,GLD
1,Date,NaN,NaN,NaN,NaN
2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
...,...,...,...,...,...
2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [9]:
df1= df.reset_index()
df1

,index,Price,Close,High,Low,Open
0,0,Ticker,GLD,GLD,GLD,GLD
1,1,Date,NaN,NaN,NaN,NaN
2,2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
...,...,...,...,...,...,...
2515,2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [12]:
df1.drop("index", axis=1, inplace=True)

In [13]:
df1

,Price,Close,High,Low,Open
0,Ticker,GLD,GLD,GLD,GLD
1,Date,NaN,NaN,NaN,NaN
2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
...,...,...,...,...,...
2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [20]:
df2 = df1.rename(columns={"Price": "Date"})
df2

,Date,Close,High,Low,Open
0,Ticker,GLD,GLD,GLD,GLD
1,Date,NaN,NaN,NaN,NaN
2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
...,...,...,...,...,...
2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [26]:
df3 = df2.iloc[2:]
df3

,Date,Close,High,Low,Open
2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
5,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
6,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...,...
2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [27]:
df4 = df3.reset_index()
df4

,index,Date,Close,High,Low,Open
0,2,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
1,3,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
2,4,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
3,5,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
4,6,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...,...,...
2513,2515,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2514,2516,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2515,2517,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2516,2518,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2517,2519,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [31]:
df4

,Date,Close,High,Low,Open
0,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
1,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
2,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
3,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
4,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...,...
2513,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2514,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2515,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2516,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2517,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [32]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2518 non-null   object
 1   Close   2518 non-null   object
 2   High    2518 non-null   object
 3   Low     2518 non-null   object
 4   Open    2518 non-null   object
dtypes: object(5)
memory usage: 98.5+ KB

In [33]:
df4['Date'] = pd.to_datetime(df4['Date'])
df4

,Date,Close,High,Low,Open
0,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
1,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
2,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
3,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
4,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...,...
2513,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2514,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2515,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2516,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2517,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [34]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2518 non-null   datetime64[ns]
 1   Close   2518 non-null   object
 2   High    2518 non-null   object
 3   Low     2518 non-null   object
 4   Open    2518 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 98.5+ KB

In [35]:
df4.sort_values(by='Date', ascending = False, inplace = True)
df4

,Date,Close,High,Low,Open
2517,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594
2516,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2515,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2514,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2513,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
...,...,...,...,...,...
4,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
3,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
2,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
1,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
0,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406

In [36]:
df4.sort_values(by='Date', ascending = True, inplace = True)
df4

,Date,Close,High,Low,Open
0,2013-01-02,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
1,2013-01-03,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
2,2013-01-04,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
3,2013-01-07,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
4,2013-01-08,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...,...
2513,2022-12-23,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2514,2022-12-27,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2515,2022-12-28,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2516,2022-12-29,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2517,2022-12-30,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

demo 参考用\
df['Date'l= pd.to_datetime(df['Date'])\
df.sort_values(by='Date',ascending= True,inplace= True)\
df.reset_index(drop=True,inplace= True)

In [37]:
NumCols = df4.columns.drop(['Date'])
NumCols

Index(['Close', 'High', 'Low', 'Open'], dtype='object')

In [38]:
df[NumCols] = df[NumCols].replace({',':''}, regex = True)
df[NumCols]
# 疑问点

,Close,High,Low,Open
0,GLD,GLD,GLD,GLD
1,NaN,NaN,NaN,NaN
2,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
3,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
4,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
...,...,...,...,...
2515,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2516,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2517,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2518,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2519,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

In [41]:
df[NumCols].iloc[2:].reset_index(drop = True)

,Close,High,Low,Open
0,163.1699981689453,164.13999938964844,163.13999938964844,163.49000549316406
1,161.1999969482422,162.8800048828125,160.8300018310547,162.47999572753906
2,160.44000244140625,160.6300048828125,158.88999938964844,159.52000427246094
3,159.42999267578125,159.9600067138672,159.14999389648438,159.36000061035156
4,160.55999755859375,160.99000549316406,160.00999450683594,160.4600067138672
...,...,...,...,...
2513,167.25999450683594,167.8000030517578,166.66000366210938,166.8800048828125
2514,168.6699981689453,170.61000061035156,167.8000030517578,167.88999938964844
2515,167.91000366210938,168.33999633789062,167.10000610351562,168.0500030517578
2516,168.85000610351562,169.35000610351562,168.52000427246094,168.5399932861328
2517,169.63999938964844,169.89999389648438,168.8000030517578,169.25999450683594

有些数字可能是以字符串形式存的，比如 "1,234.56"（里面有逗号）。\

.replace({',': ''}, regex=True) 就是把逗号 , 去掉，变成 "1234.56"。\

这样后续才能转换成真正的数值(float)，方便做计算。

In [44]:
df11 = df[NumCols].iloc[2:].reset_index(drop = True)
df12 = df11.astype('float64')
df12

           Close        High         Low        Open
0     163.169998  164.139999  163.139999  163.490005
1     161.199997  162.880005  160.830002  162.479996
2     160.440002  160.630005  158.889999  159.520004
3     159.429993  159.960007  159.149994  159.360001
4     160.559998  160.990005  160.009995  160.460007
...          ...         ...         ...         ...
2513  167.259995  167.800003  166.660004  166.880005
2514  168.669998  170.610001  167.800003  167.889999
2515  167.910004  168.339996  167.100006  168.050003
2516  168.850006  169.350006  168.520004  168.539993
2517  169.639999  169.899994  168.800003  169.259995

[2518 rows x 4 columns]

df[NumCols] = df[NumCols].astype(float)   # 先转成数字\
df[NumCols] = df[NumCols].round(2)        # 保留两位小数

In [47]:
df_gold_price_cleaned = pd.concat([df4[["Date"]], df12], axis=1)
df_gold_price_cleaned

           Date       Close        High         Low        Open
0    2013-01-02  163.169998  164.139999  163.139999  163.490005
1    2013-01-03  161.199997  162.880005  160.830002  162.479996
2    2013-01-04  160.440002  160.630005  158.889999  159.520004
3    2013-01-07  159.429993  159.960007  159.149994  159.360001
4    2013-01-08  160.559998  160.990005  160.009995  160.460007
...         ...         ...         ...         ...         ...
2513 2022-12-23  167.259995  167.800003  166.660004  166.880005
2514 2022-12-27  168.669998  170.610001  167.800003  167.889999
2515 2022-12-28  167.910004  168.339996  167.100006  168.050003
2516 2022-12-29  168.850006  169.350006  168.520004  168.539993
2517 2022-12-30  169.639999  169.899994  168.800003  169.259995

[2518 rows x 5 columns]

In [50]:
# 保存为CSV
df_gold_price_cleaned.to_csv("Gold_Price_Cleaned.csv")

print("数据已保存")

数据已保存