In [1]:
import os
os.environ['KERAS_BACKEND'] = 'tensorflow'  # 必须在导入keras前设置
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
import tensorflow as tf
from tensorflow import keras
from keras import Model
from keras.layers import Input, Dense, Dropout, LSTM

In [2]:
df = pd.read_csv("Gold_Price_Cleaned.csv", index_col = 0)

In [3]:
df

            Date       Close        High         Low        Open
0     2013-01-02  163.169998  164.139999  163.139999  163.490005
1     2013-01-03  161.199997  162.880005  160.830002  162.479996
2     2013-01-04  160.440002  160.630005  158.889999  159.520004
3     2013-01-07  159.429993  159.960007  159.149994  159.360001
4     2013-01-08  160.559998  160.990005  160.009995  160.460007
...          ...         ...         ...         ...         ...
2513  2022-12-23  167.259995  167.800003  166.660004  166.880005
2514  2022-12-27  168.669998  170.610001  167.800003  167.889999
2515  2022-12-28  167.910004  168.339996  167.100006  168.050003
2516  2022-12-29  168.850006  169.350006  168.520004  168.539993
2517  2022-12-30  169.639999  169.899994  168.800003  169.259995

[2518 rows x 5 columns]

In [4]:
df["Close_growth_rate"] = df["Close"].pct_change() # (t0-t-1)/t-1
df = df.dropna(subset=["Close_growth_rate"])
df

,Date,Close,High,Low,Open,Close_growth_rate
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436
...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679

In [5]:
df['order'] = [1 if sig>0 else -1 for sig in df["Close_growth_rate"]]
df

C:\Users\user\AppData\Local\Temp\ipykernel_13352\4164833575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order'] = [1 if sig>0 else -1 for sig in df["Close_growth_rate"]]

,Date,Close,High,Low,Open,Close_growth_rate,order
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073,-1
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715,-1
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295,-1
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088,1
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436,-1
...,...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998,1
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430,1
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506,-1
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598,1
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679,1

In [6]:
df['profit'] = df['Close'] * df['order']
df

C:\Users\user\AppData\Local\Temp\ipykernel_13352\1054544224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['profit'] = df['Close'] * df['order']

,Date,Close,High,Low,Open,Close_growth_rate,order,profit
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073,-1,-161.199997
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715,-1,-160.440002
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295,-1,-159.429993
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088,1,160.559998
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436,-1,-160.490005
...,...,...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998,1,167.259995
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430,1,168.669998
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506,-1,-167.910004
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598,1,168.850006
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679,1,169.639999

In [7]:
df['wealth'] = df['profit'].cumsum()
df

C:\Users\user\AppData\Local\Temp\ipykernel_13352\2742173653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wealth'] = df['profit'].cumsum()

,Date,Close,High,Low,Open,Close_growth_rate,order,profit,wealth
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073,-1,-161.199997,-161.199997
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715,-1,-160.440002,-321.639999
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295,-1,-159.429993,-481.069992
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088,1,160.559998,-320.509995
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436,-1,-160.490005,-481.000000
...,...,...,...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998,1,167.259995,11272.919807
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430,1,168.669998,11441.589806
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506,-1,-167.910004,11273.679802
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598,1,168.850006,11442.529808
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679,1,169.639999,11612.169807

In [8]:
print("total profit made:", df['profit'].sum())

total profit made: 11612.169807434082

In [9]:
df

,Date,Close,High,Low,Open,Close_growth_rate,order,profit,wealth
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073,-1,-161.199997,-161.199997
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715,-1,-160.440002,-321.639999
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295,-1,-159.429993,-481.069992
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088,1,160.559998,-320.509995
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436,-1,-160.490005,-481.000000
...,...,...,...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998,1,167.259995,11272.919807
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430,1,168.669998,11441.589806
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506,-1,-167.910004,11273.679802
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598,1,168.850006,11442.529808
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679,1,169.639999,11612.169807

In [11]:
df['change'] = (df['Close'] - df['Close'].shift(1))/df['Close'].shift(1)
df

C:\Users\user\AppData\Local\Temp\ipykernel_13352\1214264141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['change'] = (df['Close'] - df['Close'].shift(1))/df['Close'].shift(1)

,Date,Close,High,Low,Open,Close_growth_rate,order,profit,wealth,change
1,2013-01-03,161.199997,162.880005,160.830002,162.479996,-0.012073,-1,-161.199997,-161.199997,NaN
2,2013-01-04,160.440002,160.630005,158.889999,159.520004,-0.004715,-1,-160.440002,-321.639999,-0.004715
3,2013-01-07,159.429993,159.960007,159.149994,159.360001,-0.006295,-1,-159.429993,-481.069992,-0.006295
4,2013-01-08,160.559998,160.990005,160.009995,160.460007,0.007088,1,160.559998,-320.509995,0.007088
5,2013-01-09,160.490005,160.830002,159.899994,160.770004,-0.000436,-1,-160.490005,-481.000000,-0.000436
...,...,...,...,...,...,...,...,...,...,...
2513,2022-12-23,167.259995,167.800003,166.660004,166.880005,0.002998,1,167.259995,11272.919807,0.002998
2514,2022-12-27,168.669998,170.610001,167.800003,167.889999,0.008430,1,168.669998,11441.589806,0.008430
2515,2022-12-28,167.910004,168.339996,167.100006,168.050003,-0.004506,-1,-167.910004,11273.679802,-0.004506
2516,2022-12-29,168.850006,169.350006,168.520004,168.539993,0.005598,1,168.850006,11442.529808,0.005598
2517,2022-12-30,169.639999,169.899994,168.800003,169.259995,0.004679,1,169.639999,11612.169807,0.004679